.container {
    background-color: #2b2d42;
    color: #edf2f4;
}
div.jumbotron {
    background-color: #d90429;
    color: #edf2f4;
}

body {
    background-color: #2b2d42;
    color: #edf2f4;
}
button{
    width:246px;
    height:40px;
    color:#4C4C4C;
    margin-bottom:20px;
    margin-left:20px
    }

#startButton {
    background-color: #8d99ae;
    color: #edf2f4;
}

.timelineForm {
    display: none;
}

