.container {
    background-color: #2b2d42;
    color: #edf2f4;
}
div.jumbotron {
    background-color: #d90429;
    color: #edf2f4;
}

body {
    background-color: #2b2d42;
    color: #edf2f4;
}

#startButton {
    background-color: #8d99ae;
    color: #edf2f4;
}

.timelineForm {
    display: none;
}

#displayedTimeline {
    color: #8d99ae;
}
